<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta charset="UTF-8" />
        <title>{% block title %}Happybreak.com : 50% de réduction garantie sur 200 hôtels de charme{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
            {% stylesheets '@UniqueCodeBundle/Resources/public/select2/css/select2.min.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets '@UniqueCodeBundle/Resources/public/css/style.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="body-bg"
         style="background-image: url('{% image '@UniqueCodeBundle/Resources/public/img/bg.jpg' %}{{ asset_url }}{% endimage %}')">
        <header id="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="logo-hb">
                            {% image '@UniqueCodeBundle/Resources/public/img/header-logo.png' %}
                            <img class="logo-hb" src="{{ asset_url }}" alt="logo"/>
                            {% endimage %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="main">
            {% block body %}{% endblock %}
        </section>
        <footer id="footer">
            <div class="logo">
                {% image '@UniqueCodeBundle/Resources/public/img/footer-logo.png' %}
                <img class="logo-hb" src="{{ asset_url }}" alt="logo"/>
                {% endimage %}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        Tous droits réservés - <a href="#">Mentions légales</a> - <a href="#">CGV-CGU</a> - <a href="#">www.happybreak.com</a> -
                        Contactez-nous au 09 80 01 01 01
                    </div>
                </div>
            </div>
        </footer>
    </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('js/datepicker-fr.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            {% javascripts '@UniqueCodeBundle/Resources/public/select2/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@UniqueCodeBundle/Resources/public/select2/js/i18n/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@UniqueCodeBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% include 'UniqueCodeBundle:Default:partials/system-modals.html.twig' %}
    </body>
</html>
