{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="col-container">
            <div class="row">
                <div class="col-md-8">
                    <h2>
                        Votre demande n’a pas abouti
                    </h2>

                    <p>
                        Malheureusement, l’hôtel n’a pas
                        pu accepter votre demande de
                        réservation pour le motif suivant :
                    </p>

                    {% if reservation.getHotelRefuseReason() is not empty %}
                        <div class="note">
                            {{ reservation.getHotelRefuseReason() }}
                        </div>
                    {% endif %}

                    {% if reservation.getHotelProposedCheckInDate() is not empty and reservation.getHotelProposedCheckOutDate() is not empty %}
                        <p>
                            Cependant, l’hôtel vous propose
                            une autre date de séjour :
                        </p>
                        <ul>
                            <li>du {{ reservation.getHotelProposedCheckInDate().format('d/m/Y') }}
                                au {{ reservation.getHotelProposedCheckOutDate().format('d/m/Y') }}</li>
                        </ul>
                    {% endif %}
                </div>
            </div>
            <p class="text-center">
                <a class="btn btn-hb btn-lg btn-upper action-customer-accept-reservation"
                   href="{{ path('unique_code_ajax_customer_accept_hotel_proposing', {'id': reservation.getId() }) }}">Accepter
                    la proposition de l’hôtel</a>
            </p>

            <p class="text-center">
                <a class="btn btn-hb btn-lg btn-upper action-customer-decline-reservation"
                   href="{{ path('unique_code_ajax_customer_decline_hotel_proposing', {'id': reservation.getId() }) }}">Faire
                    une autre demande*</a>
            </p>
            <p>
                * Autre hôtel, autre date
            </p>
        </div>
    </div>
{% endblock %}