{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="col-container">
            <div class="row">
                <div class="col-md-8">
                    <p>
                        Nous sommes désolés, l'hôtel {{ reservation.getHotel() }} n'a pas pu accepter votre demande de réservation pour le motif suivant :
                    </p>

                    {% if reservation.getHotelRefuseReason() is not empty %}
                        <div class="note">
                            {{ reservation.getHotelRefuseReason() }}
                        </div>
                    {% endif %}

                    {% if reservation.getHotelProposedCheckInDate() is not empty and reservation.getHotelProposedNumberNight() is not empty %}
                        <p>
                            <strong>Cependant, l'hôtel vous propose une autre date de séjour :</strong>
                        </p>
                        <ul>
                            <li>du {{ reservation.getHotelProposedCheckInDate().format('d/m/Y') }}
                                pour {{ reservation.getHotelProposedNumberNight() }} nuits</li>
                        </ul>
                        <p>Merci d’accepter, ou non, la proposition de l’hôtel dans les 72h. Passé ce délai, celle ci ne sera plus valable</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <p class="text-center">
                        <a class="btn btn-hb btn-lg btn-block btn-upper action-customer-accept-reservation"
                           href="{{ path('unique_code_ajax_customer_accept_hotel_proposing', {'id': reservation.getId() }) }}"
                           data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">Accepter la proposition <br>de l'hôtel</a>
                    </p>

                    <p class="text-center">
                        <a class="btn btn-hb btn-lg btn-block btn-upper action-customer-decline-reservation"
                           href="{{ path('unique_code_ajax_customer_decline_hotel_proposing', {'id': reservation.getId() }) }}"
                           data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">REFUSER LA PROPOSITION <br>DE L’HOTEL*</a>
                        {% if reservation.getCampaign() is not empty %}
                            <input type="hidden" id="customer-decline-redirect-url" value="{{ path('unique_code_campaign', {'campaignCode': reservation.getCampaign().getCode() }) }}">
                        {% else %}
                            <input type="hidden" id="customer-decline-redirect-url" value="{{ path('unique_code_homepage') }}">
                        {% endif %}
                    </p>
                </div>
            </div>
            <p>
                * Autre hôtel, autre date
            </p>
        </div>
    </div>
{% endblock %}