{% extends 'base.html.twig' %}
{% block body %}
            <div class="container">
                <div class="col-container">
                    <div class="row">
                <div class="col-md-12">
                Vous refusez la réservation de Mr/Mme {{ reservation.getCustomer.getLastName() }} pour le {{ reservation.getReservationDate()|date('d/m/Y') }}
                                </div>
                            </div>
                <br><br>
                    <div class="row">
                        <div class="col-md-6 refuse-container">
                        <form id="hotel-refuse-reservation" method="post" action="{{ path('unique_code_post_hotel_refuse_reservation', {'id': reservation.getId()}) }}" data-redirect="{{ path('unique_code_notification') }}">
                                <p class="text-center"><b>Je propose une alternative au client</b></p>
                                <p>
                                    Veuillez justifier votre refus de réservation.
                                    Votre message sera transféré directement au client.
                                </p>
                                <div class="form-group">
                                    <textarea class="form-control" id="reason" name="reason"
                                              placeholder="Motif du refus *"></textarea>
                                </div>
                                <p>
                                    Veuillez proposer une autre date à laquelle vous seriez prêt à accueillir le client
                                </p>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="check-in-date" name="check-in-date"
                                           placeholder="Date d'arrivée *">
                                </div>
                                <div class="form-group">
                                    <select id="nights" name="nights" class="form-control">
                                        <option value="" disabled selected>Je propose au client de rester</option>
                                        <option value="1">1 nuit</option>
                                        {% for i in 2..10 %}
                                        <option value="{{ i }}">{{ i }} nuits</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group has-error errors" style="display: none;">
                                    <label class="control-label">Les champs indiqués en rouge sont incomplets. Veuillez
                                        les remplir.</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <p class="text-center">
                                            <button type="submit" class="btn btn-hb btn-lg btn-block btn-upper"
                                                    data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">
                                                Envoyer
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <p class="text-center">
                                <b>J’ai changé d’avis,</b> <br><br>
                                <a class="btn btn-hb btn-lg btn-upper action-hotel-accept-reservation"
                                   href="{{ path('unique_code_accept_reservation', {'id': reservation.getId()}) }}">
                                   j’accepte la réservation
                                </a>
                            </p>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>
{% endblock %}