{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% include 'UniqueCodeBundle:Default:partials/flash-messages.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                    <div class="step-container" id="step_1">
                        <div class="row">
                            <div class="col-md-6 step-heading">
                                <p>&nbsp;</p>
                                Ce site est dédié aux détenteurs d'un code de réservation valable pour une seule
                                réservation
                            </div>
                            <div class="col-md-6 step-content">
                                <h3>
                                    <strong>étape 1.</strong> Je choisis mon hôtel
                                </h3>
                                <p>
                                    Je repère l'hôtel, le jour et la formule de mon choix sur <a
                                            href="https://www.happybreak.com/recherche?utm_source=codeunique&utm_medium=referral&utm_content=recherche{{ campaign ? '&utm_campaign=' ~ campaign.getCode() : '' }}"
                                            target="_blank">
                                        www.happybreak.com
                                    </a> et je reviens sur ce site pour réserver.
                                </p>
                                <a href="https://www.happybreak.com/recherche?utm_source=codeunique&utm_medium=referral&utm_content=recherche{{ campaign ? '&utm_campaign=' ~ campaign.getCode() : '' }}"
                                   target="_blank"
                                   class="btn btn-hb btn-lg btn-upper">
                                    Je choisis mon hôtel
                                </a>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <h3>
                                    <strong>étape 2.</strong> Je réserve mon hôtel
                                </h3>
                                <p>
                                    J'ai déjà choisi mon hôtel et je réserve en passant à l’étape suivante.
                                </p>
                                <button class="btn btn-hb btn-lg btn-upper" id="to_step_2">
                                    Je réserve
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="step-container" id="step_2" style="display: none">
                        <div class="row">
                            <div class="col-md-6 step-heading">
                                <p>&nbsp;</p>
                                Pour réserver je saisis mes informations personnelles
                            </div>
                            <div class="col-md-3 step-content">
                                <div class="step-panel">
                                    <h3 class="heading">code réservation :</h3>
                                    <form class="form" action="{{ path('unique_code_submit_customer_information') }}">

                                        {% if campaign is not empty %}
                                            <input type="hidden" id="campaignCode" name="campaignCode"
                                                   value="{{ campaign.getCode() }}">
                                        {% endif %}
                                        <div class="form-group has-feedback">
                                            <input type="text" class="form-control" id="code" name="code"
                                                   placeholder="Code avantage *"
                                                   data-endpoint="{{ path('unique_code_ajax_validate_code') }}">
                                            <span class="form-control-feedback" style="display: none;"><i
                                                        class="fa fa-circle-o-notch fa-spin"></i></span>
                                            <div class="alert alert-danger error-code" style="display: none;">
                                            </div>
                                        </div>
                                        <h3 class="heading">mes informations :</h3>
                                        <div class="form-group">
                                            <input class="magic-radio inline" type="radio" id="gender_female" name="gender" value="female">
                                            <label class="control-label" for="gender_female">Mme</label>&nbsp;&nbsp;
                                            <input class="magic-radio inline" type="radio" id="gender_male" name="gender" value="male">
                                            <label class="control-label" for="gender_male">Mr</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="last_name"
                                                   name="last_name"
                                                   placeholder="Nom *">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="first_name"
                                                   name="first_name"
                                                   placeholder="Prénom *">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" name="email"
                                                   placeholder="Adresse email *" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="re_email"
                                                   name="re_email"
                                                   placeholder="Confirmer votre adresse mail *" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="phone" name="phone"
                                                   placeholder="Téléphone *" required>
                                        </div>

                                        <div class="alert alert-danger error-required" style="display: none;">
                                            Les champs indiqués en rouge sont incomplets. Veuillez les remplir.
                                        </div>
                                        <div class="alert alert-danger error-re-email" style="display: none;">
                                            Le champs de confirmation d'email est invalide.
                                        </div>

                                        <div class="checkbox">
                                            <input class="magic-checkbox" type="checkbox" id="newsletter" name="newsletter" value="1"
                                                   checked="checked">
                                            <label for="newsletter">
                                                Je souhaite recevoir une sélection d’offres d’hôtels à -50% de la part de Happybreak.
                                            </label>
                                        </div>
                                    </form>
                                    <span>* Champs obligatoires</span>
                                </div>
                                <p>&nbsp;</p>
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <button type="submit" class="btn btn-hb-2 btn-lg btn-block btn-upper"
                                                id="back_step_1"
                                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">
                                            Précédent
                                        </button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button type="submit" class="btn btn-hb btn-lg btn-block btn-upper"
                                                id="to_step_3"
                                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">
                                            Suivant
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="step-container" id="step_3" style="display: none">
                        <div class="row">
                            <div class="col-md-6 step-heading">
                                <p>&nbsp;</p>
                                Je sélectionne mon séjour
                            </div>
                            <div class="col-md-4 step-content">
                                <div class="step-panel">
                                    <h3 class="heading">Je choisis mon hôtel :</h3>
                                    <form>
                                        <div class="form-group">
                                            <select type="text" class="form-control" id="hotel" name="hotel" required data-endpoint="{{ path('unique_code_ajax_search_hotel') }}"></select>
                                            <input type="hidden" id="hotel-name" name="hotel-name">
                                        </div>
                                        <div class="form-group">
                                            <select type="text" class="form-control" id="offer" name="offer" required>
                                                <option value="" disabled selected>Formule *</option>
                                            </select>
                                            <input type="hidden" id="offer-name" name="offer-name">
                                            <input type="hidden" id="offer_price" name="offer_price">
                                            <input type="hidden" id="hotel_phone" name="hotel_phone">
                                            <input type="hidden" id="hotel_address" name="hotel_address">
                                        </div>
                                        <div class="form-group">
                                            <label class="radio-inline no-padding-left">
                                                Nombre de personnes
                                            </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input class="magic-radio inline" type="radio" name="number_person" id="number_person_1" value="1">
                                            <label for="number_person_1">1</label>&nbsp;&nbsp;&nbsp;
                                            <input class="magic-radio inline" type="radio" name="number_person" id="number_person_2" value="2" checked>
                                            <label for="number_person_2">2</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="date" name="date"
                                                           placeholder="Date d'arrivée *" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <select id="number_night" name="number_night" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="reservation-detail" style="display: none;">
                                            <div class="col-md-3">
                                                <strong>Détail de la prestation :</strong>
                                            </div>
                                            <div class="col-md-9 content">
                                            </div>
                                            <input type="hidden" id="offer_service_afternoon" name="offer_service_afternoon">
                                            <input type="hidden" id="offer_service_night" name="offer_service_night">
                                            <input type="hidden" id="offer_service_morning" name="offer_service_morning">
                                        </div>
                                        <p>&nbsp;</p>
                                        <div class="row" id="hotel-informations" style="display: none;">
                                            <div class="col-md-3">
                                                <strong>Informations pratiques :</strong>
                                            </div>
                                            <div class="col-md-9 content">
                                            </div>
                                        </div>
                                        <p>&nbsp;</p>
                                        <p>
                                            Veuillez préciser ci-dessous toutes remarques propres à votre réservation (demande d’un lit d’appoint dans la chambre, nombre d’enfant et âge, présence d’animaux domestiques, allergies...)

                                        </p>
                                        <div class="form-group">
                                <textarea class="form-control" id="customer_msg" name="customer_msg"
                                          placeholder="Je suis allergique au gluten et je souhaiterais un d'appoint ..." maxlength="255"></textarea>
                                        </div>
                                        <div class="alert alert-danger error-required" style="display: none;">
                                            Les champs indiqués en rouge sont incomplets. Veuillez les remplir.
                                        </div>
                                    </form>
                                </div>
                                <p>&nbsp;</p>
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <button type="submit" class="btn btn-hb-2 btn-lg btn-block btn-upper" id="back_step_2"
                                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">Précédent
                                        </button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button type="submit" class="btn btn-hb btn-lg btn-block btn-upper" id="to_step_4"
                                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">Suivant
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step-container" id="step_4" style="display: none">
                        <div class="row">
                            <div class="col-md-6 step-heading">
                                <p>&nbsp;</p>
                                J’envoie ma demande de réservation
                            </div>
                            <div class="col-md-4 step-content">
                                <div class="step-panel">
                                    <h3 class="heading">Ma demande de réservation</h3>
                                    J’ai réservé à : <strong class="text-yellow summary-hotel-name"></strong>
                                    <br/>Le : <strong class="text-yellow summary-reservation-date"></strong> pour :
                                    <strong class="text-yellow summary-reservation-nights"></strong>
                                    <br/>Détail de la prestation : <strong
                                            class="text-yellow summary-offer-name"></strong>
                                    <br/>Au prix de : <strong class="text-yellow summary-price"></strong>

                                    <h3>Conditions de réservation</h3>
                                    <ul>
                                        <li>En validant ma demande de réservation je m’engage à ne pas effectuer la même
                                            réservation en direct avec l’hôtelier.
                                        </li>
                                        <li>Chaque réservation est soumise aux conditions de réservation et d’annulation
                                            de chaque hôtel.
                                        </li>
                                        <li>Si je ne me présente pas le jour de la réservation sans avoir annulé mon
                                            séjour au minimum 48h à l’avance, alors je m’engage à <strong>régler la
                                                totalité de mon séjour.</strong></li>
                                    </ul>


                                    <form action="{{ path('unique_code_submit_reservation') }}">
                                        <div class="form-group">
                                            <input class="magic-checkbox" type="checkbox" value="cgv" name="cgv"
                                                   id="cgv">
                                            <label class="control-label" for="cgv">
                                                En cochant cette case j’accepte les conditions de réservation et les <a
                                                        href="https://www.happybreak.com/cgu" target="_blank">les
                                                    conditions
                                                    générales de Happybreak</a>.
                                            </label>
                                        </div>
                                    </form>

                                    <div class="alert alert-danger error-cgv" style="display: none;">
                                        Vous devez accepter les conditions générales de Happybreak pour continuer.
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <button class="btn btn-hb-2 btn-lg btn-block btn-upper" id="back_step_3"
                                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">
                                            Précédent
                                        </button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button class="btn btn-hb btn-lg btn-block btn-upper" id="to_step_5"
                                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">Envoyer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="step-container" id="step_5" style="display: none">
                    <div class="row">
                        <div class="col-md-6 step-heading">
                            <p>&nbsp;</p>
                            Je reçois la confirmation de réservation par email dans les 24h
                        </div>
                        <div class="col-md-3 step-content">
                            <div class="step-panel">
                                <h3 class="heading">Demande de Réservation envoyée !</h3>
                                <strong>
                                    C’est parti! Votre demande de réservation a bien été envoyée à l’hôtel !
                                </strong>
                                <p class="text-center"
                                   style="color: #f7a600; border: 1px solid #f7a600; padding: 10px; margin: 10px 0; text-transform: uppercase;">
                                    <strong>L’hôtel vous donnera une réponse par email d’ici 24 heures</strong>
                                </p>
                                <ul>
                                    <li>Pensez à vérifier vos courriers indésirables.</li>
                                    <li>À noter, Vous ne pouvez pas faire une autre demande de réservation tant que
                                        celle-ci est en cours.
                                    </li>
                                </ul>
                                <p class="text-center" style="color: #f7a600;">
                                    <strong>Happybreak vous souhaite un excellent séjour !</strong>
                                    <br/>Retrouvez toute notre actualité sur :
                                    <br/><a href="https://www.facebook.com/Happybreak-103517903321720/"><i
                                                class="fa fa-facebook-official fa-2x"
                                                style="color: #3B5998; vertical-align: middle"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}