<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Plus que 2 heures pour accepter la réservation{% endblock %}
    </title>
</head>
<body>
<center>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" valign="top">
<table width="600px" align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" valign="top">
            <img width="200" height="69" src="http://emailing.happy-break.fr/resources/codeunique/img/footer-logo.png" alt="logo"/>
        </td>
    </tr>
    <tr>
        <td>
            <p>{{ reservation.getCustomer().getGender() }} {{ customer.getFirstName() }} {{ customer.getLastName() }} n’a pas reçu de réponse suite a sa demande de réservation.</p>
            <p>Il ne vous reste plus que quelque heures pour donner une réponse à sa demande de réservation.</p>
            <p>
                Veuillez consulter la demande en cliquant ci-dessous :
            </p>
        </td>
    </tr>
    <tr>
        <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <table width="280" height="44" cellpadding="0" cellspacing="0" border="0"
                   bgcolor="#FFBD00 " style="border-radius:4px;">
                <tr>
                    <td align="center" valign="middle" height="44">
                        <a href="http://codeunique.happy-break.fr/view_reservation/{{ reservation.getId() }}"
                           target="_blank"
                           style="display:inline-block; width:280px; color: #776863;">Accepter ou refuser la réservation</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
    </tr>
    <tr>
        <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
    </tr>
    <tr>
        <td>
            <p>Monsieur {{ customer.getLastName() }} souhaite réserver une chambre double
                avec {{ reservation.getOffer() }} le {{ reservation.getReservationDate()|date('d/m/Y') }}
                pour {{ reservation.getNumberNight() }} nuit{% if(reservation.getNumberNight() > 1) %}s{% endif %}</p>
        </td>
    </tr>
    <tr>
        <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
    </tr>
    {% if reservation.getOfferServiceAfternoon() or reservation.getOfferServiceNight() or reservation.getOfferServiceMorning() %}
        <tr>
            <td align="center" valign="top">
                <table width="300" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>
                            <p><b>Détail de la prestation: </b></p>
                            {% if(reservation.getOfferServiceAfternoon()) %}<p>{{ reservation.getOfferServiceAfternoon() }}</p>{% endif %}
                            {% if(reservation.getOfferServiceNight()) %}<p>{{ reservation.getOfferServiceNight() }}</p>{% endif %}
                            {% if(reservation.getOfferServiceMorning()) %}<p>{{ reservation.getOfferServiceMorning() }}</p>{% endif %}
                            <p>Au tarif de {{ reservation.getOfferPrice()|number_format(2, ',') }} € par nuit.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
        </tr>
    {% endif %}
    <tr>
        <td align="center" valign="top">
            <p>
                A bientôt,</br>L’équipe Happybreak
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            {% include 'UniqueCodeBundle:Email:footer.html.twig' %}
        </td>
    </tr>
</table>
            </td>
        </tr>
    </table>
</center>
{% include 'UniqueCodeBundle:Email:style.html.twig' %}
</body>