<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Demande de réservation{% endblock %}
    </title>
</head>
<body>
<h3>Vous avez reçu une nouvelle demande de réservation de la part d’un membre Happybreak !</h3>
<br>
<p>Monsieur {{ customer.getLastName() }} souhaite réserver une chambre double avec {{ reservation.getOffer() }} du {{ reservation.getReservationDate()|date('d/m/Y') }} pour {{ reservation.getNumberNight() }} nuits</p>
<br>
<p style="text-align: center"><a href="{{ url('unique_code_view_reservation', {'id': reservation.getId()}) }}">Consulter</a> </p>
<br>
<p>Tous droits réservés | <a href="https://www.happybreak.com/mentions-legales">Mentions légales</a> |
    <a href="https://www.happybreak.com">www.happybreak.com</a> | Contactez nous 09 80 01 01 01</p>
<p style="text-align: center">
    {% image '@UniqueCodeBundle/Resources/public/img/header-logo.png' %}
    <img  src="{{ asset_url }}" alt="logo" />
    {% endimage %}
</p>
</body>